.parametros-container{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(30, 135, 233, 0.5);
    border-radius:20px;
    border: 5px solid black;
    height: 75vh;
    padding-bottom: 5px;
    
}

.parametros-container h2{
    margin-top: 1rem;
    font-family: 'Papyrus', cursive;
    font-size: 2rem;
    color: white;   
    margin-bottom: 0px;
}

.parametros {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    width: 90%;
}

.parametros.bloqueado {
  opacity: 0.6;
}

.campo{
    display: flex;
    flex-direction: column;
    width: 100%;
}

label{
    font-family: 'Papyrus', cursive;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

input{
    font-family: 'Papyrus', cursive;
    font-weight: bold;
    font-size: 1.1rem;
    height: 1.5rem;
    border-radius: 0.5rem;
    border: 3px solid black;
}

.campoNombre{
    width: 99%;
}

.campoNumero{
    width: 10%;
    text-align: center;
}

.feedback{
     font-family: 'Papyrus', cursive;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;   
}

button{
    font-family: 'Papyrus', cursive;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.4rem 1.4rem;
    border-radius: 12px;
    border: 3px solid black;
    background-color: rgb(30, 135, 233);
    cursor: pointer;

    /* ⭐ Sombra interna (línea oscura suave en el centro) */
    box-shadow: 
        inset 0 3px 6px rgba(0, 0, 0, 0.45),   /* sombra interior */
        0 4px 0 #003a77,                       /* sombra inferior 3D */
        0 4px 10px rgba(0, 0, 0, 0.4);         /* sombra exterior */

    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

button:hover{
    filter: brightness(1.1);
}

button:active{
    transform: translateY(3px);
    box-shadow:
        inset 0 1px 3px rgba(0, 0, 0, 0.6),
        0 1px 0 #003a77,
        0 2px 5px rgba(0, 0, 0, 0.4);
}